.btn_about{
    padding: 100px;
}

.btn-tam{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    background-color: #d53867;
    color: black;
    border-color: black;
    border-radius: 10px;
}

